/* DICHIARAZIONI GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Whitney-Medium, sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-size: 3em;
    line-height: 70px;
}

h2 {
    font-size: 1.5em;
    line-height: 70px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* HEADER */

/* Logo, menù, login */
#top {
    background-color: #255EE9;
    text-align: center;
    font-size: 16px;
}

#top > .container {
    width: 80%;
    padding: 30px;
    margin: auto;
}

#top .logo, #top nav, #top .accedi {
    display: inline-block;
}

#top .logo {
    float: left;
    height: 35px;
}

#top nav {
    margin: auto;
}

#top nav > ul {
    list-style: none;
}

#top nav > ul > li {
    display: inline-block;
    margin: auto 25px;
}

#top nav > ul > li > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    line-height: 35px;
}

#top nav > ul > li > a:hover {
    text-decoration: underline;
}

#top .accedi {
    display: block;
    float: right;
    padding: 5px 20px;
    background-color: #FFF;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

#top .accedi:hover {
    color: #255EE9;
}

/* Presentazione e download */
#intro {
    background-color: #255EE9;
    background-image: url(../images/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFF;
}

#intro .container {
    width: 50%;
    margin: auto;
    padding: 100px 0;
}

#intro h1, #intro p {
    margin-bottom: 50px;
}

#intro .discord-download, #intro .discord-browser {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 10px;
}

#intro .discord-download {
    background-color: #FFF;
    color: #000;
}

#intro .discord-browser {
    background-color: #23272A;
    color: #FFF;
}

/* MAIN */
main {
    margin: auto;
}

main .container {
    width: 80%;
    margin: auto;
    padding: 200px 0;
    display: flex;
}

main section:last-child .container {
    display: block;
}

main section:nth-child(odd) {
    background-color: #FFF;
}

main section:nth-child(even) {
    background-color: #F6F6F6;
}

main h1 {
    margin-bottom: 25px;
}

main img {
    margin: 0 100px;
}

/*

TUTTO QUESTO - E MOLTO ALTRO - NON SERVE PIÙ PERCHÉ
HO IMPARATO COME FUNZIONA IL FLEXBOX, GRAZIE GOOGLE

«For a long time, the only reliable cross-browser compatible tools available
for creating CSS layouts were features like floats and positioning.
These work, but in some ways they're also LIMITING and FRUSTRATING.»
- da developer.mozilla.org

SIMONE DOVEVI INSEGNARCELO PRIMA DI QUESTO ESERCIZIO
OGGI HO ANNIENTATO LA MIA SANITÀ MENTALE

Prima sezione
img[src="assets/images/item1.svg"] {
    float: left;
}

Seconda sezione
img[src="assets/images/item2.svg"] {
    float: right;
}

Terza sezione
img[src="assets/images/item3.svg"] {
    float: left;
}

*/

/* Quarta sezione */
main section:nth-child(4) {
    text-align: center;
}

img[src="assets/images/item4-big.svg"] {
    width: 1000px;
}

.pronto {
    background-image: url(../images/stars.svg);
    background-position: top;
    background-repeat: no-repeat;
}

.pronto h2 {
    margin-bottom: 30px;
}

main .discord-download {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 10px;
    background-color: #8EA1E1;
    color: #FFF;
}