/* DICHIARAZIONI GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Whitney-Medium, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* HEADER */

/* Logo, menù, login */
#top {
    background-color: #3161E0;
    text-align: center;
    font-size: 16px;
}

#top > .container {
    width: 80%;
    padding: 30px;
    margin: auto;
}

#top .logo, #top nav, #top .accedi {
    display: inline-block;
}

#top .logo {
    float: left;
    height: 35px;
}

#top nav {
    margin: auto;
}

#top nav > ul {
    list-style: none;
}

#top nav > ul > li {
    display: inline-block;
    margin: auto 25px;
}

#top nav > ul > li > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    line-height: 35px;
}

#top nav > ul > li > a:hover {
    text-decoration: underline;
}

#top .accedi {
    display: inline-block;
    float: right;
    padding: 5px 20px;
    background-color: #FFF;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

#top .accedi:hover {
    color: #3161E0;
}

/* Presentazione e download */
#intro {
    background-image: url(../images/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFF;
}

#intro .container {
    width: 50%;
    margin: auto;
    padding: 100px 0;
}

#intro h1, #intro p {
    margin-bottom: 50px;
}

#intro h1 {
    font-size: 3em;
}

#intro .discord-download, #intro .discord-browser {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 10px;
    
}

#intro .discord-download {
    background-color: #FFF;
    color: #000;
}

#intro .discord-browser {
    background-color: #23272A;
    color: #FFF;
}
